<html>
    <head>
        <title>Node class K18</title>
        <link rel="icon" type="image/x-icon" href="/public/images/cat.jpeg">
        <link rel="stylesheet" href="/public/css/style10.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="index.html">Trang chủ</a>
        <h1 id="strTime" class="clock">00:00:00</h1>
        <button id="" class="btn2" onclick="btnVong()">Vòng</button>
        <button id="btnState" class="btn" onclick="btnState()">Bắt đầu</button>
        <button id="" class="" onclick="btnClear()">Xoá</button>

        <p id="demo"></p>

        <script src="/public/js/102.js"></script>


        <!-- DOM -->
    </body>
</html>

<!-- TAG -->
<!-- <key> value </key> -->

<!-- TAG ATTRIBUTE -->