<html>
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
        <a href="index.html">Trang chủ</a>
        <h1> Ax^2 + Bx + C = 0</h1>
        <label >A:</label>
        <input 
        id = "giatria"
        placeholder="Hãy nhập A vào">
        <label >B:</label>
        <input 
        id = "giatrib"
        placeholder="Hãy nhập B vào">
        <label >C:</label>
        <input 
        id = "giatric" 
        placeholder="Hãy nhập C vào">
        <button onclick="giaiphuongtrinh ()" >Giải</button> <br>
            <h2>Kết Quả</h2>
            <h1 id = "kq" >0000</h1>
        <script src="/public/js/112.js" ></script>
    </body>
</html>